Repository seoykwon/tarobot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sonarqube_check_fastapi, sonarqube_check_nextjs, sonarqube-check

sonarqube_check_fastapi:
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  stage: test
  tags:
  - fastapi-runner
  before_script:
  - cd rag_pipeline
  - pip install -r requirements.txt
  script:
  ...

sonarqube_check_nextjs:
  image:
    name: node:18
    entrypoint:
    - ''
  stage: test
  tags:
  - nextjs-runner
  before_script:
  - cd frontend
  - npm install
  script:
  - "npx sonar-scanner \\\n  -Dsonar.projectKey=$SONAR_PROJECT_KEY \\\n  -Dsonar.host.url=$SONAR_HOST_URL \\\n  -Dsonar.login=$SONAR_TOKEN \\\n  -Dsonar.sources=.\n"
  ...

sonarqube-check:
  stage: test
  image: gradle:jre11-slim
  tags:
  - springboot-runner
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - cd backend
  - gradle sonar
  allow_failure: true

test for sonarqube4
  .gitlab-ci.yml
  rag_pipeline/app/main.py
Due: sonarqube_check_fastapi

feat(TodayFortune): 오늘의 운세 등록, 조회 기능 구현 - 유저가 뽑은 타로카드를 기반으로 오늘의 운세를 등록합니다. - 오늘의 운세를 본 유저만 값을 반환받을 수 있게 조회 기능을 구현했습니다.
  backend/src/main/java/com/ssafy/api/controller/TodayFortuneController.java
  backend/src/main/java/com/ssafy/api/request/ChatSessionRegisterReq.java
  backend/src/main/java/com/ssafy/api/request/TodayFortuneRegisterReq.java
  backend/src/main/java/com/ssafy/api/response/ChatMessageResponse.java
  backend/src/main/java/com/ssafy/api/response/TodayFortuneRes.java
  backend/src/main/java/com/ssafy/api/service/TarotCardService.java
  backend/src/main/java/com/ssafy/api/service/TarotCardServiceImpl.java
  backend/src/main/java/com/ssafy/api/service/TodayFortuneService.java
  backend/src/main/java/com/ssafy/api/service/TodayFortuneServiceImpl.java
  backend/src/main/java/com/ssafy/db/entity/TodayFortune.java
  backend/src/main/java/com/ssafy/db/repository/TodayFortuneRepository.java
Due: sonarqube-check

test for sonarqube5
  .gitlab-ci.yml
  rag_pipeline/app/main.py
Due: sonarqube_check_fastapi

feat: 카드 선택시 다른 카드 선택 불가 기능 추가, 추가 작업 필요
  frontend/src/app/daily/card-selector.tsx
Due: sonarqube_check_nextjs

fix(Login): 구글 로그인 창 자동 닫기 구글 로그인 창이 알아서 안 닫힘 + 페이지가 안 예쁨 이슈를 해결하기 위해 googleLogin.html 파일을 backend에 추가하고 3초 후 자동으로 닫히게 수정하였습니다.
  backend/src/main/java/com/ssafy/api/controller/AuthController.java
  backend/src/main/java/com/ssafy/api/request/ChatSessionRegisterReq.java
  backend/src/main/java/com/ssafy/api/response/ChatMessageResponse.java
  frontend/src/app/auth/login/page.tsx
Due: sonarqube_check_nextjs, sonarqube-check

Update src/app/daily folder
  frontend/src/app/daily/card-selector.tsx
Due: sonarqube_check_nextjs

test for sonarqube6
  .gitlab-ci.yml
  rag_pipeline/app/main.py
Due: sonarqube_check_fastapi

fix(Route): fetch URL 점검 api.ts에 정의된 형식을 사용하지 않는 코드를 전면 수정했습니다.
  frontend/src/app/api/taroBotsDetail.ts
  frontend/src/app/tarot/chat/[id]/page.tsx
  frontend/src/app/tarot/chatstr/[id]/page.tsx
  frontend/src/config/api.ts
Due: sonarqube_check_nextjs

test for sonarqube7
  .gitlab-ci.yml
  rag_pipeline/app/main.py
Due: sonarqube_check_fastapi

test for sonarqube8
  .gitlab-ci.yml
  rag_pipeline/app/main.py
Due: sonarqube_check_fastapi

fix: 홈 화면, 타로봇 상세페이지, 커뮤니티 페이지+검색기능 수정 홈 화면 타로 봇들의 리스트 출력 방식 수정 타로봇 상세페이지 리뷰 출력 방식 수정 친구와 채팅 오버레이 수정정 타로봇 리뷰 페이지 제작 커뮤니티 페이지 검색 기능 수정 검색 페이지 수정
  frontend/src/api/taroBotsDetail.ts
  frontend/src/app/community/client.tsx
  frontend/src/app/community/search/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/tarot/bots/[id]/FriendChatOverlay.tsx
  frontend/src/app/tarot/bots/[id]/page.tsx
  frontend/src/app/tarot/bots/[id]/reviews/page.tsx
Due: sonarqube_check_nextjs

feat(Announcement): 공지사항 기능 구현 - 공지사항 작성, 수정, 생성, 조회(상세 조회, 목록 조회), 삭제 기능을 구현했습니다. - 작성, 수정, 삭제는 관리자 계정만 가능합니다.
  backend/src/main/java/com/ssafy/api/controller/AnnouncementController.java
  backend/src/main/java/com/ssafy/api/request/AnnouncementRegisterReq.java
  backend/src/main/java/com/ssafy/api/request/ChatSessionRegisterReq.java
  backend/src/main/java/com/ssafy/api/response/AnnouncementRes.java
  backend/src/main/java/com/ssafy/api/service/AnnouncementService.java
  backend/src/main/java/com/ssafy/api/service/AnnouncementServiceImpl.java
  backend/src/main/java/com/ssafy/db/entity/Announcement.java
  backend/src/main/java/com/ssafy/db/repository/AnnouncementRepository.java
Due: sonarqube-check

feat(daily/card-selector): 모바일 스와이프 기능 추가 + pc에서 마우스로 좌우 이도 ㅇ가능
  frontend/src/app/daily/CardSelector.module.css
  frontend/src/app/daily/card-selector.tsx
Due: sonarqube_check_nextjs

Merge src/app/daily folder from frontendwork
  frontend/src/app/daily/CardSelector.module.css
  frontend/src/app/daily/card-selector.tsx
Due: sonarqube_check_nextjs

fix: sonarqube의 nextjs 설정 수정
  frontend/package.json
  frontend/sonar-project.properties
  frontend/tsconfig.json
Due: sonarqube_check_nextjs

fix: sync package-lock.json with package.json
  frontend/package-lock.json
  frontend/package.json
Due: sonarqube_check_nextjs

fix: 완전한 리포트를 받기 위해 ci.yml 수정
  .gitlab-ci.yml
Due: none

fix(Merge): merge 시 이름 불일치 수정 majorTarotCards => tarotCards
  frontend/src/app/tarot/bots/[id]/chat_c/page.tsx
Due: sonarqube_check_nextjs

Fix: force job execution per runner
  .gitlab-ci.yml
Due: none

feat(Chatbot): 챗봇 페이지 와이어프레임 및 로직 개선 새로운 채팅 UI를 app/khoon/에 만들어 테스트 중입니다. 또한 rag_pipeline에서 챗봇의 단기기억 로직을 잠시 바꿨습니다. 요약 불러오기 -> 최근 10개 채팅 불러오기
  frontend/src/app/khoon/chat/page.tsx
  frontend/src/app/khoon/components/chatwindow.tsx
  frontend/src/app/khoon/components/greeting.tsx
  frontend/src/app/khoon/components/header.tsx
  frontend/src/app/khoon/components/sidebar.tsx
  frontend/src/app/khoon/layout.tsx
  frontend/src/app/khoon/page.tsx
  frontend/src/app/tarot/bots/[id]/chatstream/page.tsx
  rag_pipeline/app/services/rag_pipeline.py
  rag_pipeline/app/utils/chatbot_concept.py
  rag_pipeline/app/utils/prompt_generation.py
  rag_pipeline/app/utils/response_utils.py
Due: sonarqube_check_fastapi, sonarqube_check_nextjs

feat(UI): 채팅 UI 재구성 채팅 UI를 새로 만듭니다. 송경민 : 레이아웃 설정 김건일 : 채팅창 UI 민경훈 : 다이어리 모달
  frontend/src/app/khoon/chat/page.tsx
  frontend/src/app/khoon/components/ChatInput.tsx
  frontend/src/app/khoon/components/chatwindow.tsx
  frontend/src/app/khoon/components/sidebar.tsx
  frontend/src/app/khoon/layout.tsx
  frontend/src/app/khoon/page.tsx
Due: sonarqube_check_nextjs

feat: 채팅 기능 구현 채팅 구현현
  frontend/src/app/khoon/chat/page.tsx
  frontend/src/app/khoon/components/ChatInput.tsx
  frontend/src/app/khoon/components/chatwindow.tsx
  frontend/src/app/khoon/layout.tsx
  frontend/src/app/khoon/page.tsx
Due: sonarqube_check_nextjs

폴더 밖으로 빼고, 루트 레이아웃에 적용(레이아웃 수정필요)
  frontend/src/app/layout.tsx
  frontend/src/chat/page.tsx
  frontend/src/components/ChatInput.tsx
  frontend/src/components/ChatWindow.tsx
  frontend/src/components/Greeting.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Sidebar.tsx
Due: sonarqube_check_nextjs

feat(Diary): 다이어리 모달 구현 다이어리 모달을 만들었습니다. 사이드바에서 다이어리 버튼 클릭 시 좌측에 캘린더, 우측에 타로 기록이 표시됩니다.
  frontend/src/app/khoon/chat/page.tsx
  frontend/src/app/khoon/components/Diary.tsx
  frontend/src/app/khoon/components/chatwindow.tsx
  frontend/src/app/khoon/components/sidebar.tsx
  frontend/src/app/khoon/layout.tsx
  frontend/src/app/khoon/ui.svg
  frontend/src/app/layout.tsx
Due: sonarqube_check_nextjs

layout합체
  frontend/src/app/layout.tsx
Due: sonarqube_check_nextjs

컴포넌트 정리
  frontend/src/components/AutumnBackground.module.css
  frontend/src/components/AutumnBackground.tsx
  frontend/src/components/BottomNav.tsx
  frontend/src/components/CherryBlossomBackground.module.css
  frontend/src/components/CherryBlossomBackground.tsx
  frontend/src/components/DarkModeToggle.tsx
  frontend/src/components/InputField.tsx
  frontend/src/components/Loading.tsx
  frontend/src/components/StarryBackground.module.css
  frontend/src/components/StarryBackground.tsx
  frontend/src/components/SummerBackground.module.css
  frontend/src/components/SummerBackground.tsx
  frontend/src/components/TarotGame.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/WinterBackground.module.css
  frontend/src/components/WinterBackground.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Label.tsx
  frontend/src/components/ui/Textarea.tsx
  frontend/src/components/ui/form.tsx
Due: sonarqube_check_nextjs

feat(Diary): 다이어리 모달 구현 사이드바 하단의 다이어리 버튼 클릭 시 캘린더와 타로 기록이 뜨도록 구현했습니다.
  frontend/src/app/chat/page.tsx
  frontend/src/components/ChatWindow.tsx
  frontend/src/components/Diary.tsx
  frontend/src/components/Sidebar.tsx
Due: sonarqube_check_nextjs

feat: 알림, 프로필 오버레이 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/chat/page.tsx
  frontend/src/components/ChatWindow.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/NotificationOverlay.tsx
  frontend/src/components/ProfileOverlay.tsx
  frontend/src/styles/NotificationOverlay.module.css
  frontend/tailwind.config.ts
Due: sonarqube_check_nextjs

refactor: layout관련 csr/ssr/혼합적용
  frontend/src/app/home/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ClientLayout.tsx
  frontend/src/components/ClientSidebar.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/TarotMasterList.tsx
  frontend/src/libs/api.ts
Due: sonarqube_check_nextjs

fix: 다이어리 모달 z축 변경
  frontend/src/app/layout.tsx
  frontend/src/components/Sidebar.tsx
Due: sonarqube_check_nextjs

feat(Diary): 다이어리 디자인 및 기능 수정 디자인을 일부 수정하고 날짜가 UTC 기준으로 맞춰진 이슈를 수정하였습니다.
  frontend/src/components/Calendar.tsx
  frontend/src/components/Diary.tsx
  frontend/src/components/RecordList.tsx
Due: sonarqube_check_nextjs

d
  frontend/src/components/Sidebar.tsx
Due: sonarqube_check_nextjs

fix: 다이어리 모달 z축 변경 z축 변경해 header까지 어둡게 나오도록 변경경
  frontend/src/components/ClientSidebar.tsx
Due: sonarqube_check_nextjs

feat: 화면 너비 좁혀도 좌상단에 사이드바 아이콘보이기
  frontend/src/components/ClientLayout.tsx
  frontend/src/components/ClientSidebar.tsx
  frontend/src/components/Header.tsx
Due: sonarqube_check_nextjs

feat: 프로필 오버레이의 각 부분 모달 설정
  frontend/src/app/page.tsx
  frontend/src/components/ProfileModal/LogoutModal.tsx
  frontend/src/components/ProfileModal/PlanUpgradeModal.tsx
  frontend/src/components/ProfileModal/SettingModal.tsx
  frontend/src/components/ProfileOverlay.tsx
Due: sonarqube_check_nextjs

fix(Diary): 다이어리 비율 조정 다이어리가 모바일 페이지에서 비율이 맞지 않는 문제를 해결했습니다. 이제 작은 화면에선 타로 결과 창이 조그맣게 뜨고, 모달 창이 세로로 길어집니다.
  frontend/src/components/Calendar.tsx
  frontend/src/components/Diary.tsx
  frontend/src/components/RecordList.tsx
Due: sonarqube_check_nextjs

fix: header 수정정
  frontend/src/components/Header.tsx
Due: sonarqube_check_nextjs

fix(Diary): 다이어리 현재 날짜 오류 수정 현재 날짜가 +1 일로 인식되는 문제 수정정
  frontend/src/components/Diary.tsx
  frontend/src/components/Header.tsx
Due: sonarqube_check_nextjs

Path conditions:
  sonarqube_check_fastapi: any of: rag_pipeline/**/*
  sonarqube_check_nextjs: any of: frontend/**/*
  sonarqube-check: any of: backend/**/*
